<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns:tizen="http://tizen.org/ns/widgets" xmlns="http://www.w3.org/ns/widgets"
        id="Bienvenue1.Bienvenue" version="0.2.2" viewmodes="fullscreen">
  <tizen:application id="Bienvenue1.Bienvenue" package="Bienvenue1" required_version="6.5"/>
  <content src="index.html"/>
  <icon src="icon.png"/>
  <name>Bienvenue</name>
  <access origin="*" subdomains="true"/>
  <tizen:privilege name="http://tizen.org/privilege/application.launch"/>
  <tizen:privilege name="http://tizen.org/privilege/internet"/>
  <tizen:profile name="tv"/>
</widget>
